#detail{
    // info
    .detail-info{
        background: #fff;
        padding: 10px;
        .detail-img{
            width: 36%;
            margin-right: 10px;
            img{
                width: 100%;
                height: 100px;
            }
        }
        .detail-allInfo{
            width: 55%;
            .detail-title{
                padding-bottom: 14px;
                font-size: 18px;
                color: #666;
            }
            .detail-star{
                padding-bottom: 10px;
                .detail-star-p{
                    float: left;
                    span.icon-star{
                        color: #ccc;
                        font-size: 16px;
                        margin-right: 6px;
                    }
                    span.icon-star.pink{
                        color: #39203d;
                    }
                }
                .detail-star-price{
                    float: right;
                    .price{
                        color: #999;
                    }
                }
                
            }
            .detail-subTitle{
                font-size: 16px;
                color: #999;
            }
        }
        .detail-location{
            color: #999;
            font-size: 14px;
            line-height: 20px;
        }
    }
    // comment
    
}
